name: Publish Workflow
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "18.16.1"
          registry-url: https://registry.npmjs.org

      # Task execution
      - run: npm ci
      - run: npm run validate:environment
      - run: npm run build:vite
      - run: npm run build:types
      - uses: mangs/simple-release-notes-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      # authenticate by OIDC
      - run: npm publish --access public
